body{
  margin: 0;
  padding: 0;
  height: 100vh;
}



.container{
  display: flex;
  height: 100vh;
  min-width: auto;
} 

/* First Container */
.first-container {
  background: linear-gradient(130.41deg, #DEE4FA 14.55%, #5B78DF 79.57%);
 width: 50%;
  overflow: hidden;
}

.first-section {
  text-align: left;
  margin: 140px auto 0 auto;
  width: 65%; 
 
}

.first-h1{
  font-size: 35px;
  color: #DF735B;
 }

.first-p{
 font-weight: 400;
 font-size: x-large;
}

.first-img{
  position: relative;
  left: 180px;  
  bottom: 70px;
}

h1, p {
  text-wrap: balance;  
}




/* Second Container */
.second-container {
  background: rgba(47, 54, 95);
  width: 50%
  
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}


.second-section label {
  color: aliceblue;
}

.second-section label {
  color: aliceblue;
  margin-bottom: 10px;
}

.second-section input {
  padding: 10px 20px; 
  border-radius: 8px;
  border: none;
  font-size: 16px;
  background-color: #fff; 
  color: #000; 
  margin: 10px 0;
  box-sizing: border-box;
  min-width: 500px;
  min-height: 50px; 
  text-align: left;
  appearance: none; 
  -webkit-appearance: none;
  outline: none;
}

.second-section input::placeholder{
  text-align: left;
  
}

.second-section input[type ="submit"] {
  background-color: #DF735B;
  color: aliceblue;
  cursor: pointer;
  text-align: center;
}


hr {
 width: 125%;
 background: rgba(217, 217, 217, 0.08);
 border: none;
 height: 2px;
 margin-left: -13.5%;
}

/* Input Invalid Css */

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
  display: none;
  text-align: left;
}



/* JavaScript CSS */

